@import '../abstracts/mixins';

.snakeContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.segment {
    @include blue-box-shadow;

    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #72BBEA;
    border-radius: 50%;
}

.head {
    @include blue-box-shadow;

    background-color: #37436E;
    border-radius: 50% 50% 40% 40%;
    transform: scale(1.1);
}